html {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 45px 0px 0px 0px;
    font-family: Helvetica, "Microsoft YaHei", "微软雅黑", Tahoma, Arial, 'PingFang SC', '苹方', STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.search {
    /*margin: 0px auto;*/
}
.search .logo {
    text-align: center;
    padding: 10px 0px;
}
.search .logo img {
}
.search_form {
}
/* Search box 来自于： https://speckyboy.com/how-to-build-a-stylish-css3-search-box/ ，做过一些修改 */
/* Search box start */
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
/* Form wrapper styling */
.form-wrapper {
    /*width: 450px;*/
    width: 100%;
    zoom: 1;
    padding: 15px;
    margin: 0px auto 10px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    /*width: 330px;*/
    width: 90%;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    /*width: 110px;*/
    width: 10%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
/* Search box end */
.showloading {
    padding: 0px 0px 0px 5px;
    color: red;
}
.search_results {
    margin-top: 20px;
}
.search_results ul {
    margin: 0px;
    padding: 0px;
}
.search_results ul li {
    padding: 10px;
    border: solid 1px #d3d6d8;
    border-radius: 4px;
    list-style-type: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.search_results ul li img{
    width: 200px;
    height: 200px;
}
.search_results div.shop{
    color: blue;
    padding: 5px 0px;
}
.search_results div.name{
    color: black;
    padding: 5px 0px;
    font-size: 11pt;
}
.search_results div.price{
    color: red;
    font-weight: bold;
    padding: 5px 0px;
}
/* 为各种浏览设备，定制控件样式  */
@media(max-width:767px){
    .form-wrapper input {
        width: 70%;
    }
    .form-wrapper button {
        width: 30%;
    }
    .search_results ul li{
        float: none;
        margin-right: 0px;
    }
    .search_results ul li img{
        width: 120px;
        height: 120px;
    }
    .search_results div.shop{
        position: absolute;
        top: 3px;
        right: 8px;
    }
}
@media(min-width:768px){
    .form-wrapper input {
        width: 80%;
    }
    .form-wrapper button {
        width: 20%;
    }
    .search_results ul li{
        float: none;
        margin-right: 0px;
    }
}
@media(min-width:992px){
    .form-wrapper input {
        width: 80%;
    }
    .form-wrapper button {
        width: 20%;
    }
    .search_results ul li{
        float: left;
        margin-right: 20px;
        max-width: 260px;
    }
}
@media(min-width:1200px){
    .form-wrapper input {
        width: 90%;
    }
    .form-wrapper button {
        width: 10%;
    }
    .search_results ul li{
        float: left;
        margin-right: 20px;
        max-width: 260px;
    }
}
template {
    display: none;
}


